*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: url(../images/ravejs-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  padding: 20px;
}

#splash {
  height: 100%;
  width: 100%;
  position: relative;
}

#splash .container {
  max-width: 1000px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#splash p {
  color: white;
  opacity: 0.6;
}

#splash p a {
  color: #FFFFFF;
  text-decoration: underline;
}

a.button {
  display: inline-block;
  background: #A912C4;
  color: white;
  padding: 10px 20px;
  line-height: 1;
  margin: 30px 0 50px 0;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

#splash img {
  max-width: 300px;
  display: inline-block;
}

#splash h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: white;
  margin: 0;
  padding: 0;
}

#splash h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

section .content {
  max-width: 600px;
  margin: 40px auto 140px auto;
  padding: 30px;
  background: white;
  border-radius: 4px;
}

section h2 {
  text-align: center;
  font-size: 32px;
  margin: -100px 0 60px 0;
  padding: 0;
  color: white;
  font-weight: 700;
}

#sponsors .content {
  text-align: center;
}

#sponsors img {
  margin: 20px;
  display: inline-block;
  max-width: 400px;
  margin-bottom: 50px;
}

#sponsors img.npm {
  display: inline-block;
  max-width: 240px;
}

/* Footer */
/* ------------------------------------------------------- */

section#footer .content {
  background: none;
  text-align: center;
}


/* Performers */
/* ------------------------------------------------------- */


.performer {
  position: relative;
  width: 100%;
  float: none;
  clear: both;
  height: auto;
  margin-bottom: 40px;
}
.performer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.performer.social {
  position: absolute;
  top: 120px;
  left: 0;
}

.performer .profile {
  margin-left: 120px;
  padding-top: 0px;
}

.performer h3 {
  margin: 0;
  padding: 0 0 0 0;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
}

.performer p {
  color: #777;
  line-height: 1.5;
  font-size: 14px;
}


/* Organizers */
/* ------------------------------------------------------- */

#organizers-container {
  float: none;
  clear: both;
  overflow: hidden;
}

.organizer {
  float: left;
  text-align: center;
  width: 200px;
  margin: 15px 0 30px 0;
  transition: all 0.3s;
}

.organizer img {
  width: 160px;
  height: 160px;
  display: inline-block;
  transition: all 0.3s;
}

.organizer .profile {
  text-align: center;
}

.organizer h3 {
  margin: 0;
  padding: 5px 0 10px 0;
  font-size: 16px;
  font-weight: 400;
}


/* Links */
/* ------------------------------------------------------- */

a {
  color: #AC15A0;
}

a.fa {
  text-decoration: none;
  font-size: 24px;
  color: #CCC;
  transition: all 0.3s;
}

a.fa:hover {
  color: #A912C4;
}

p {
  line-height: 1.5;
}

p.twitterz {
  color: rgba(255,255,255,0.4);
}

p.twitterz a {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}


@media (max-width: 600px) {

  html {
    background: black;
  }

  #splash {
    width: 100%;
    height: auto;
    position: relative;
  }

  #splash .container {
    max-width: auto;
    width: 100%;
    position: relative;
    text-align: center;
    transform: translate(0, 0);
    top: 0;
    left: 0;
  }
  
  #splash img {
    max-width: 80%;
  }

  #splash h1 {
    font-size: 50px;
  }

  .performer img {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .performer.social {
    position: relative;
  }

  .performer .profile {
    margin: 0;
  }

  #sponsors img {
    max-width: 90% !important;
  }

  section h2 {
    font-size: 20px;
  }

}
