body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: black;
  height: 100px;
}

#background {
  background-image:url(../images/ravejs-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  float: top;
  height: 100%;
  width: 100%;
  position: relative;
}

#logo {
  background-image: url('../images/logo-white.svg');
  background-color: white;
  background-size: 115px 115px;
  background-repeat: no-repeat;
  position: relative;
  top: 60px;
  height: 100px;
  width: 250px;
  padding-left: 120px;
  padding-top: 8px;
  margin-left: -5px;
}

#logo .large-title {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
}

#logo .date {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 2px;
  margin-top: 2px;
}

#logo .tickets {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 2px;
  margin-top: 6px;
}

#mission {
  background-color: black;
  height: 150px;
  position: relative;
  top: 600px;
}

#bottom-info {
  background-color: white;
  position: relative;
  padding-top: 20px;
  top: -15px;
  height: 700px;
  display: none;
  text-align: center;
}

.profile {
  width: 108;
  height: 108;
  background-color: white;
  display: none;
  position: relative;
  font-size: 18px;
}

.social {
  position: relative;
  top: 56px;
}

.social a {
  padding: 2px;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

blockquote {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  color: white;
  width: 700px;
  padding: 5px;
  margin: auto;
}

.js-masonry {
  padding-top: 20px;
  width: 500px;
  margin: auto;
}

#bottom-bar {
  margin-top: 40px;
}

#bottom-bar a {
  font-size: 18px;
  margin-right: 8px;
}

.content {
  height: 250px;
  overflow: scroll;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
